<!DOCTYPE html>
<html>
<head>
  <title>Scavenger</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><a href="https://twitter.com/intent/tweet?text=%23rmr2014%20scavenger%20hunt!">#rmr2014</a> Scavenger Hunt</h3>
    </div>
  </div>

  <%= yield %>
</div>
</body>
</html>
